{
  "root": true,
  "ignorePatterns": ["package.json"],
  "extends": [
    "@xylabs"
  ],
  "rules": {
    "import/no-internal-modules": [
      "warn", {
        "allow": [

        ]
      }
    ]
  }
}
